*{
    background-color: rgb(235, 235, 235);
    display: flex;
    margin: 5px;
}

main{
    display: flex;
    justify-content: center;
    border-radius: 4mm;
    height: 500px;
}

div.bb1{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

div.bb2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

label{
    font-weight: bold;
}

@media screen and (width >= 40rem){
    main{
        background-color: blueviolet;
    }
}